.nav-container{
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100%-20px);
    padding: 10px ;
    height: 40px;
    background: var(--red);
}

.logo-nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 30px ;
    height: 40px ;   
}

.awrrow{
    cursor: pointer;
}

@media (width < 500) {
    .awrrow{
        width: 30px;
        height: 25px;
    }
}