.container-home{
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@media (width < 500px) {
    .container-home{
        flex-direction: column;
    }   
}