:root {
  --black: #231f20;
  --red: #991e21;
  --white:'#ffffff'
}


body {
  background-color: #f8f8f8; /* Light background for a clean look */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
